* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    min-height: 100vh;
}
/* Header strony*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
#logo {
    font-size: 24px;
    font-weight: bold;
}
#nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Zmienia lekko ułożenie przycisków */
#nav form {
    display: flex;
    align-items: center;
}
button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 5px;
}
input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}
/* Zawartość samej strony */
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    /* height: calc(100vh - 60px); Adjust height for header height */
}
.input-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* Login Container Styling */
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0;
}
/* Input Group Styling */
.input-group {
    margin: 15px 0;
    text-align: left;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Table Styling */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}
.styled-table th, .styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    /* position: relative; */
    bottom: 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container p {
    margin: 0;
}